.van > button {
    height: 4vh;
    border-radius: 5px;
    width: fit-content;
    position: relative;
    right: 14%;
    color: azure;
}

.van > img {
    height: auto;
    width: 40%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.van {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

.under {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 40%;

    margin-bottom: 1rem;
}

.name {
    font-weight: bold;
    font-size: larger;
}

p {
    margin-block-end: 0px;
}

a {
    text-decoration: none;
    color: black;
}